body{
    margin: 0;

}

header{
    background-image: url(../img/pattern.png);
    background-color: blue;
    height: 100px;

}
#img-logo{
    width: 300px;
    margin-top: 30px;
    
}

#Doc-Intro h1{
    font-size: 50px;
    margin-bottom: 2px;

}

figure{
    width: 100%;
    margin-left: 2px;

}

.Unorder-list{
    text-align: left;
}
